{% macro mediatext(img, header, text) %}
    <div class="media-text">
        <div class="media">
            {% image
                img,
                header,
                header,
                "(max-width: 768px) 100vw,
                 (max-width: 1000px) 50vw,
                 660px",
                [300, 350, 400, 450, 500, 660, 720, 1000, 1200, 1320, , 1440, 1536, 1980] %}
        </div>
        <div class="text">
            <div class="h3">{{ header }}</div>
            <p>{{ text }}</p>
        </div>
    </div>

{% endmacro %}
{#                    sizes="(max-width: 768px) 100vw,
                           (max-width: 1000px) 50vw,
                           660px"
#}
