@import "fonts";
@import "base";
@import "fluid-scales";

#skipToMain {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1rem;
  background-color: black;
  color: white;
  opacity: 0;
  transition: opacity 300ms;

  &:focus {
    left: 0;
    opacity: 1;
  }
}



a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: rem(15) rem(30);

  &.primary {
    background: var(--bg40);
    color: white;
    //box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15);
  }
}

.spring {
  display: flex;
  justify-content: space-between;
}

header {
  align-items: flex-end;
  padding: 2rem 0;
  justify-content: var(--wide-desktop-space-between, center) !important;

  nav ul {
    display: var(--wide-desktop-flex, none);
    gap: 1rem;
  }

  svg {
    max-width: min(100%, 14.3rem);
    padding-bottom: rem(9);
    margin: auto;
  }

  a.btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 84.49%;
    /* identical to box height, or 17px */

    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    white-space: nowrap;
    display: var(--wide-desktop-block, none);

    &.primary {
      //display: block;
    }
  }
}

main {
  font-weight: 600;
}

h1, .h1 {
  font-style: normal;
  font-weight: 400;
  font-size: var(--fnt-md);
  letter-spacing: -0.01em;
  line-height: 1.2;
  margin-bottom: var(--spc-md);
}

h2, .h2 {
  font-weight: 600;
  font-size: var(--fnt-lg);
  line-height: 1.2;
  letter-spacing: -0.015em;
  margin-bottom: var(--spc-md);
}

h3, .h3 {
  font-weight: 600;
  font-size: var(--fnt-sm);
  letter-spacing: -0.01em;
  //text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 0;
}

p {
  font-size: var(--fnt);
  letter-spacing: 0.01em;
  margin-bottom: var(--spc);
  font-weight: 400;

  &.big {
    font-weight: 400;
    font-size: var(--fnt-md);
    line-height: 1.3;
    letter-spacing: -0.015em;
  }
  &.mid {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.015em;
  }
}

.c40, .c80, .c60 {
  padding-inline: var(--spc-md);
}

.c40 {
  max-width: 44.5rem;
  margin-inline: auto;
}

.c80 {
  max-width: rem(1700);
  margin-inline: auto;
}

.c60 {
  max-width: rem(1400);
  margin-inline: auto;
}

footer {
  flex-direction: var(--desktop-row, column);
  justify-content: var(--desktop-space-between, center) !important;
  text-align: center;
  background-color: #f0f0f0;
  padding-top: var(--spc-lg);
  padding-bottom: var(--spc);
  margin-top: var(--spc-xxlg);

  p {
    margin: 0;
  }
}

.hallo {
  max-width: rem(250);
}

.gapped-sections {
  display: flex;
  flex-direction: column;
  gap: var(--gsgap, var(--spc-xxlg));
}

.media-text {
  display: flex;
  flex-direction: var(--desktop-row, column);
  gap: 1.5rem;

  &:nth-of-type(even) {
    flex-direction: var(--desktop-row-reverse, column);
    --align: var(--desktop-flex-end);
  }

  .h3 {
    max-width: rem(429);
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: var(--align, flex-start);
  }

  .media {
    position: relative;
    aspect-ratio: 16/9;
    filter: var(--shadow-color);
    transform: translateZ(0);
    width: 100%;
  }

  .media, .text {
    flex: 1 1 0;
  }
}

.t10 {
  margin-top: var(--spc-xxlg);
}

.t5 {
  margin-top: var(--spc-xlg);
}

.bold {
  font-weight: bold;
}

span.line {
  display: block;
}

.lbl {
  display: inline-block;
  font-weight: 600;
  min-width: 3em;
}

.colored {
  background: linear-gradient(98.7deg, #EB477E 28.99%, #E87D7D 76.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.b1 {
  padding-bottom: 1rem;
}

.grey {
  color: #111;
  opacity: 0.7;
  font-weight: 400;
}

.initial {
  --reveal-delay: 300ms;
  --reveal-len: 2s
}
.reveal {
  animation: var(--reveal-animation, reveal)
  var(--reveal-len, 1s)
  cubic-bezier(.5, -0.01, 0, 1.01)
  calc( var(--reveal-delay, -250ms) + 250ms * var(--counter, 1))
  1
  var(--reveal-animation-direction, normal)
  both;
}

header.scrolled {
  .reveal:not(.kontakt) {
    animation: hhide 500ms cubic-bezier(.5, -0.01, 0, 1.01) 0ms 1 normal both;
  }
  .kontakt.btn {
    animation: shadow 1000ms cubic-bezier(.5, -0.01, 0, 1.01) 0ms 1 normal both;
  }
}

.kontakt.btn{
  &.fixed {
    top: 0;
    left: var(--kontakt-btn-left, 1rem);
    position: fixed;
    --reveal-animation: shadow;
    --reveal-animation-direction: normal;
    z-index: 1000;

  }
}


@keyframes shadow {
  0% {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15);
  }

}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hhide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}


.grid {
  display: flex;
  gap: var(--spc-lg);
  > * {
    flex: 1 1 0;
  }

  &.one-third {
    > *:first-child {
      flex: 0.5 0.5 0;
    }
  }
}

.hero {
  margin-top: clamp(3rem, calc(50vh - 238px - 127px) , 30rem);
  margin-bottom: clamp(3rem, calc(50vh - 238px), 30rem);
}
