<footer class=" grey">
    <div class="c80 spring">
        <img src="https://visitor-badge.glitch.me/badge?page_id=WAB{{ page.url }}" width="0" height="0" alt="Views"/>
        <p class="show-on wide-desktop">
            © WEBAGENTURberlin, alle Rechte vorbehalten
        </p>

        <p>
            <a href="/impressum">IMPRESSUM</a> |
            <a href="/datenschutz">DATENSCHUTZ</a></p>

    </div>
</footer>

<script>
    let calc = function () {
        let kontaktBtn = document.getElementById("kontakt-btn").getBoundingClientRect();
        let headerHeight = document.getElementById("header").offsetHeight;

        const r = document.querySelector(':root');

        r.style.setProperty('--header-height', headerHeight + "px");
        r.style.setProperty('--kontakt-btn-top', kontaktBtn.top + "px");
        r.style.setProperty('--kontakt-btn-left', kontaktBtn.left + "px");
    }
    window.addEventListener("resize", calc);
    calc();
</script>


<script>

    const autoLoadDuration = 3; //In Seconds
    setTimeout(() => {
        let a = document.getElementsByTagName('head')[0];
        let r = document.createElement('script');
        r.async = 1;
        r.src = "https://www.googletagmanager.com/gtag/js?id=G-Q8SYT0VNN2";
        a.appendChild(r);

        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-Q8SYT0VNN2');

        if (Math.random() < 0.3) {
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () {
                    (h.hj.q = h.hj.q || []).push(arguments)
                };
                h._hjSettings = {hjid: 3374437, hjsv: 6};
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script');
                r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
        }
    }, autoLoadDuration * 1000)

</script>
