<footer class=" grey">
    <div class="c80 spring">
        <p class="show-on wide-desktop">
            © WEBAGENTURberlin, alle Rechte vorbehalten
        </p>

        <p>
            <a href="/impressum">IMPRESSUM</a> |
            <a href="/datenschutz">DATENSCHUTZ</a></p>

    </div>
</footer>

<script>
    let calc = function(){
        let kontaktBtn= document.getElementById("kontakt-btn").getBoundingClientRect();
        let headerHeight = document.getElementById("header").offsetHeight;

        const r = document.querySelector(':root');

        r.style.setProperty('--header-height', headerHeight + "px");
        r.style.setProperty('--kontakt-btn-top', kontaktBtn.top + "px");
        r.style.setProperty('--kontakt-btn-left', kontaktBtn.left + "px");
    }
    window.addEventListener("resize", calc);
    calc();
</script>
<style>

</style>
