<footer class=" grey">
    <div class="c80 spring">
        <p class="show-on wide-desktop">
            © WEBAGENTURberlin, alle Rechte vorbehalten
        </p>

        <p>
            <a href="/impressum">IMPRESSUM</a> |
            <a href="/datenschutz">DATENSCHUTZ</a></p>

    </div>
</footer>

<script>
    let calc = function(){
        let kontaktBtn= document.getElementById("kontakt-btn").getBoundingClientRect();
        let headerHeight = document.getElementById("header").offsetHeight;

        const r = document.querySelector(':root');

        r.style.setProperty('--header-height', headerHeight + "px");
        r.style.setProperty('--kontakt-btn-top', kontaktBtn.top + "px");
        r.style.setProperty('--kontakt-btn-left', kontaktBtn.left + "px");
    }
    window.addEventListener("resize", calc);
    calc();
</script>


<script>

    const autoLoadDuration = 2; //In Seconds
    setTimeout(() => {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TG4TXGQ');


        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3374437,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

    }, autoLoadDuration * 1000)

</script>
