<head>
    <meta charset="utf-8">
    <title>Webagentur Berlin</title>
    <meta name="description" content="Webagentur Berlin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="manifest" href="/site.webmanifest">#}
    <link rel="apple-touch-icon" href="/public/apple-touch-icon.png">
    <link rel="icon" href="/public/favicon.ico">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#EB477E">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="next-head-count" content="12">
    <meta charset="utf-8">

    <link rel="preload" as="image" href="/images/optimized/TJkQVaXfJ7-300.webp" />


    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Organization",
            "name": "Webagentur Berlin",
            "logo": "https://webagenturberlin.com/public/logo.png",
            "url": "https://webagenturberlin.com",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Elsenstr.",
                "addressLocality": "Berlin",
                "addressRegion": "Berlin",
                "postalCode": "12059",
                "addressCountry": "Germany"
            },
            "sameAs": ["https://www.instagram.com/webagenturberlin"]
        }
    </script>










    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "LocalBusiness",
            "name": "Webagentur Berlin",
            "image": "https://webagenturberlin.com/public/logo.png",
            "priceRange": "5000 - 15000€",
            "url": "webagenturberlin.com",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Elsenstr.",
                "addressLocality": "Berlin",
                "addressRegion": "Berlin",
                "postalCode": "12059",
                "addressCountry": "Germany"
            },
            "openingHoursSpecification": [
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Sunday", "Saturday"],
                    "opens": "09:00",
                    "closes": "20:00"
                }
            ],
            "sameAs": ["instagram.com/webagenturberlin"]
        }
    </script>





    <script type="application/ld+json">{
            "@context": "https://schema.org",
            "@graph": [
                {
                    "@type": "Place",
                    "@id": "https://webagenturberlin.com/#place",
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "Elsenstr.",
                        "addressLocality": "Berlin",
                        "addressRegion": "Berlin",
                        "postalCode": "12059",
                        "addressCountry": "Deutschland"
                    }
                },
                {
                    "@type": "WebSite",
                    "@id": "https://webagenturberlin.com/#website",
                    "url": "https://webagenturberlin.com",
                    "name": "Webagentur Berlin",
                    "publisher": {
                        "@id": "https://webagenturberlin.com/#organization"
                    },
                    "inLanguage": "de-DE"
                },
                {
                    "@type": "ImageObject",
                    "@id": "https://www.webagenturberlin.com/logo.svg",
                    "url": "https://www.webagenturberlin.com/logo.svg",
                    "width": "261",
                    "height": "261",
                    "caption": "Webagentur Berlin - logo",
                    "inLanguage": "de-DE"
                },
                {
                    "@type": "WebPage",
                    "@id": "https://webagenturberlin.com/#webpage",
                    "url": "https://webagenturberlin.com/",
                    "name": "Webagentur Berlin",
                    "datePublished": "2023-01-23T12:03:22+01:00",
                    "dateModified": "2023-01-25T10:21:35+02:00",
                    "about": {
                        "@id": "https://webagenturberlin.com/#organization"
                    },
                    "isPartOf": {
                        "@id": "https://webagenturberlin.com/#website"
                    },
                    "primaryImageOfPage": {
                        "@id": "https://www.webagenturberlin.com/logo.svg"
                    },
                    "inLanguage": "de-DE"
                },
                {
                    "@type": [
                        "LocalBusiness",
                        "Organization"
                    ],
                    "@id": "https://webagenturberlin.com/#organization",
                    "name": "Webagentur Berlin",
                    "url": "https://webagenturberlin.com",
                    "email": "kontakt@webagenturberlin.com",
                    "priceRange": "1000€ - 10000€",
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "Elsenstr.",
                        "addressLocality": "Berlin",
                        "addressRegion": "Berlin",
                        "postalCode": "12059",
                        "addressCountry": "Deutschland"
                    },
                    "logo": {
                        "@type": "ImageObject",
                        "@id": "https://webagenturberlin.com/#logo",
                        "url": "https://www.webagenturberlin.com/logo.svg",
                        "contentUrl": "https://www.webagenturberlin.com/logo.svg",
                        "caption": "Webagentur Berlin",
                        "inLanguage": "de-DE",
                        "width": "261",
                        "height": "261"
                    },
                    "image": {
                        "@type": "ImageObject",
                        "@id": "https://webagenturberlin.com/#logo",
                        "url": "https://www.webagenturberlin.com/logo.svg",
                        "contentUrl": "https://www.webagenturberlin.com/logo.svg",
                        "caption": "Webagentur Berlin",
                        "inLanguage": "de-DE",
                        "width": "261",
                        "height": "261"
                    },
                    "openingHours": [
                        "Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday 09:00-17:00"
                    ],
                    "location": {
                        "@id": "https://webagenturberlin.com/#place"
                    }
                }
            ]
        }</script>
    <script type="application/ld+json">{
            "@context": "https://schema.org/",
            "@type": "Service",
            "serviceType": "Webdesign",
            "provider": {
                "@type": [
                    "LocalBusiness",
                    "Organization"
                ],
                "@id": "https://webagenturberlin.com/#organization",
                "name": "Webagentur Berlin",
                "url": "https://webagenturberlin.com",
                "email": "kontakt@webagenturberlin.com",
                "priceRange": "1000€ - 10000€",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Elsenstr.",
                    "addressLocality": "Berlin",
                    "addressRegion": "Berlin",
                    "postalCode": "12059",
                    "addressCountry": "Deutschland"
                },
                "logo": {
                    "@type": "ImageObject",
                    "@id": "https://webagenturberlin.com/#logo",
                    "url": "https://www.webagenturberlin.com/logo.svg",
                    "contentUrl": "https://www.webagenturberlin.com/logo.svg",
                    "caption": "Webagentur Berlin",
                    "inLanguage": "de-DE",
                    "width": "261",
                    "height": "261"
                },
                "image": {
                    "@type": "ImageObject",
                    "@id": "https://webagenturberlin.com/#logo",
                    "url": "https://www.webagenturberlin.com/logo.svg",
                    "contentUrl": "https://www.webagenturberlin.com/logo.svg",
                    "caption": "Webagentur Berlin",
                    "inLanguage": "de-DE",
                    "width": "261",
                    "height": "261"
                },
                "openingHours": [
                    "Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday 09:00-17:00"
                ],
                "location": {
                    "@id": "https://webagenturberlin.com/#place"
                }
            },
            "areaServed": {
                "@type": "State",
                "name": "Berlin"
            },
            "hasOfferCatalog": {
                "@type": "OfferCatalog",
                "name": "Webagentur",
                "itemListElement": [
                    {
                        "@type": "OfferCatalog",
                        "name": "Branding",
                        "itemListElement": [
                            {
                                "@type": "Offer",
                                "itemOffered": {
                                    "@type": "Service",
                                    "name": "Corporate Design"
                                }
                            },
                            {
                                "@type": "Offer",
                                "itemOffered": {
                                    "@type": "Service",
                                    "name": "UI & UX Design"
                                }
                            },
                            {
                                "@type": "Offer",
                                "itemOffered": {
                                    "@type": "Service",
                                    "name": "Webdesign"
                                }
                            }
                        ]
                    },
                    {
                        "@type": "OfferCatalog",
                        "name": "Webdevelopment",
                        "itemListElement": [
                            {
                                "@type": "Offer",
                                "itemOffered": {
                                    "@type": "Service",
                                    "name": "Web Development"
                                }
                            },
                            {
                                "@type": "Offer",
                                "itemOffered": {
                                    "@type": "Service",
                                    "name": "Suchmaschinenoptimierung"
                                }
                            },
                            {
                                "@type": "Offer",
                                "itemOffered": {
                                    "@type": "Service",
                                    "name": "Barrierefreiheit"
                                }
                            }
                        ]
                    }
                ]
            }
        }</script>
    <script type="application/ld+json">{
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "Webdesign",
            "image": "http://webagenturberlin.com/logo.svg",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4.9",
                "bestRating": "5",
                "worstRating": "1",
                "ratingCount": "20"
            },
            "offers": {
                "@type": "AggregateOffer",
                "url": "",
                "priceCurrency": "EUR",
                "lowPrice": "1000",
                "highPrice": "20000"
            },
            "reviews": [
                {
                    "@type": "Review",
                    "reviewBody": "2lekjrwker",
                    "author": {
                        "@type": "Person",
                        "name": "rejl"
                    },
                    "name": "wwelj",
                    "reviewRating": {
                        "@type": "Rating",
                        "ratingValue": "4"
                    }
                }
            ]
        }</script>

    {% set css %}
        {% include "../../../_site/css/style.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>


</head>
