<head>
    <meta charset="utf-8">
    <title>Webagentur Berlin</title>
    <meta name="description" content="Mit unserem Webdesign Service können Sie sich auf eine hochwertige und zuverlässige Website verlassen.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="manifest" href="/site.webmanifest">#}
    <link rel="apple-touch-icon" href="/public/apple-touch-icon.png">
    <link rel="icon" href="/public/favicon.ico">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#EB477E">
    <meta charset="utf-8">

    <link rel="preload" as="image" href="/images/optimized/TJkQVaXfJ7-300.webp" />

    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Webagentur Berlin">
    <meta property="og:url" content="https://webagenturberlin.com">
    <meta property="og:image" content="https://webagenturberlin.com/public/produkt.jpg">
    <meta property="og:description" content="Wir arbeiten eng mit Ihnen zusammen, um Ihre Ziele und Bedürfnisse in die Entwicklung Ihrer Website zu integrieren.">
    <meta property="business:contact_data:street_address" content="Elsenstr.">
    <meta property="business:contact_data:locality" content="Berlin">
    <meta property="business:contact_data:region" content="Berlin">
    <meta property="business:contact_data:postal_code" content="12059">
    <meta property="business:contact_data:country_name" content="Germany">


    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Organization",
            "name": "Webagentur Berlin",
            "logo": "https://webagenturberlin.com/public/logo.png",
            "url": "https://webagenturberlin.com",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Elsenstr.",
                "addressLocality": "Berlin",
                "addressRegion": "Berlin",
                "postalCode": "12059",
                "addressCountry": "Germany"
            },
            "sameAs": ["https://www.instagram.com/webagenturberlin"]
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Product",
            "name": "Webdesign",
            "image": "https://webagenturberlin.com/public/produkt.jpg",
            "description": "Wir arbeiten eng mit Ihnen zusammen, um Ihre Ziele und Bedürfnisse in die Entwicklung Ihrer Website zu integrieren.",
            "brand": {
                "@type": "Brand",
                "name": "Webagentur Berlin"
            },
            "offers": {
                "@type": "Offer",
                "priceCurrency": "USD",
                "price": "5000",
                "url": "https://webagenturberlin.com",
                "availability": "https://schema.org/InStock",
                "itemCondition": "https://schema.org/NewCondition",
                "priceValidUntil": "2023-12-31"
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue" : "4.8",
                "ratingCount" : "30",
                "reviewCount" : "18"
            },
            "review": [
                {
                    "@type": "Review",
                    "name" : "Exzellentes Webdesign, das begeistert",
                    "author": {
                        "@type": "Person",
                        "name": "Nelle S."
                    },
                    "datePublished": "2022-11-17",
                    "reviewBody" : "Webagentur Berlin hat unsere Erwartungen übertroffen und ein wunderschönes, benutzerfreundliches und professionelles Design für unsere Website erstellt. Das gesamte Team war sehr aufmerksam auf unsere Bedürfnisse und hat uns bei jedem Schritt des Prozesses mit Rat und Tat zur Seite gestanden. Wir waren beeindruckt von ihrer Kreativität und dem Engagement, das sie in jedes Detail gesteckt haben, um sicherzustellen, dass wir die bestmögliche Website erhalten. Die Zusammenarbeit mit ihnen war ein wahres Vergnügen und wir können sie ohne Vorbehalte empfehlen. Wir sind begeistert von unserem neuen Online-Auftritt und haben bereits viele positive Rückmeldungen von unseren Kunden erhalten. Wir sind sicher, dass dies nur der Anfang einer erfolgreichen Zusammenarbeit mit dieser großartigen Agentur ist!",
                    "reviewRating": {
                        "@type": "Rating",
                        "ratingValue" : "5"
                    }
                }
            ]
        }
    </script>


    {% set css %}
        {% include "../../../_site/css/style.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>


</head>
