{% extends "./_includes/base.njk" %}

{% import "./_includes/macros/_mediatext.njk" as mediatext %}

{% block content %}

    <div class="c40 mt-lg">
        <h1>Impressum</h1>
        <h2 class="h3">Angaben gemäß § 5 TMG</h2>
        <p>Asin Asadi<br>Webdesign<br>Elsenstr. 73<br>[Postleitzahl] [Ort]</p>
        <h2 class="h3">Kontakt</h2>
        <p>Telefon: [Telefonnummer]<br>E-Mail: kontakt@webagenturberlin.com</p>
        <h2 class="h3">Umsatzsteuer-ID</h2>
        <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br>Ust. ID ###</p>
        <h2 class="h3">Verbraucher­streit­beilegung/Universal­schlichtungs­stelle</h2>
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
            teilzunehmen.</p>
    </div>
{% endblock %}

